<!DOCTYPE html>

<head>
   <meta charset="utf-8">
   <title>Forecast | Home</title>
<link href="./css/bootstrap.min.css" rel="stylesheet">
<link href="./css/my.css" rel="stylesheet">
 <script src="./js/jquery-2.1.1.min.js" ></script>
 <script src="./js/bootstrap.min.js"></script>
 <script src= "./js/claudy.js"> </script>
 <script src= "./js/my.js"> </script>
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="./css/demo.css" />
		 <link rel="stylesheet" type="text/css" href="./css/css.css" />
       
        <link rel="stylesheet" type="text/css" href="./css/graph.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
		<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/my.css" rel="stylesheet">
 <script src="./js/jquery-2.1.1.min.js" ></script>
 <script src="./js/bootstrap.min.js"></script>
 <script src= "./js/claudy.js"> </script>
 <script src= "./js/my.js"> </script>
 <script src= "./js/js.js"> </script>
 </head>

     <div class="container-fluid">    
	 
	 <div class="row">

<!-- Start of Groups Panel-->



  <div class="panel-body">

   <div>
            <!-- Codrops top bar -->
                       <section class="main">
					 <h5 align="center"></h5>
 
                <input type="radio" name="resize-graph" id="graph-small" />
                <input type="radio" name="resize-graph" id="graph-normal" checked="checked" />
                <input type="radio" name="resize-graph" id="graph-large" />

				
                <input type="radio" name="paint-graph" id="graph-blue" checked="checked" />
                <input type="radio" name="paint-graph" id="graph-green" />
                <input type="radio" name="paint-graph" id="graph-rainbow" />

				<!-- 
				                <input type="radio" name="fill-graph" id="f-none" /><label for="f-none">All</label> -->
                <input type="radio" name="fill-graph" id="f-product1" checked="checked" /><label for="f-product1">Quarter1</label>
                <input type="radio" name="fill-graph" id="f-product2" /><label for="f-product2">Quarter2</label>
                <input type="radio" name="fill-graph" id="f-product3" /><label for="f-product3">Quarter3</label>
                <input type="radio" name="fill-graph" id="f-product4" /><label for="f-product4">Quarter4</label>


				<br/><br/><br/>
		<label align="left" for="f-product1">Total Hours
		</label><br/>
                <ul class="graph-container">
                    <li>
                        <span>October</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">25</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>November</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">50</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span>December</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">75</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li>
                   <!--  <li>
                        <span>2011</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">100</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li> -->
                  <!--   <li>
                        <span>2012</span>
                        <div class="bar-wrapper">
                            <div class="bar-container">
                                <div class="bar-background"></div>
                                <div class="bar-inner">50</div>
                                <div class="bar-foreground"></div>
                            </div>
                        </div>
                    </li> -->
                    <li>
                        <ul class="graph-marker-container">
						
						<li style="bottom:0%;"><span>10</span></li>
                            <li style="bottom:25%;"><span>20</span></li>
                            <li style="bottom:50%;"><span>30</span></li>
                            <li style="bottom:75%;"><span>40</span></li>
                            <li style="bottom:100%;"><span>50</span></li>
							
                        </ul>
                    </li>
                </ul>

            </section>

        </div>
		<!--End group total hours-->

  </div> <!-- End Panel Body-->


   
  </body>
 </html>